<style>
.texture {display: none;}
</style>

<% provide(:title, "Sign in") %>
<div class="center hero-unit">
  <h2>Log In with your Admin Credentials</h2>
  <div class="row">
    <div class="span6 offset3">
      <%= form_for(:admin, url: admins_path) do |f| %>
        <%= f.label :username %>
        <%= f.text_field :username, value: 'ketchum' %>
        <%= f.label :password %>
        <%= f.password_field :password, value: 'labs' %>
        <%= f.submit "Log in", class: "btn btn-large btn-danger" %>
      <% end %>
    </div>
  </div>
</div>