<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <%= render 'shared/stats' %> 
      <%= render 'follow_form' if signed_in? %>
      <div class="form-actions">
        <%= link_to t('.back', :default => t("helpers.links.back")),
                    users_path, :class => 'btn'  %>
      </div>
     
    </section>
  </aside>
  <div class="span8">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render 'shared/feed' %>
      </ol>
    <% else %>
      <h3> <%= @user.name %> has no microposts</h3>
    <% end %>
  </div>
</div>