<div class="workWrapper">
	<div class="roundedNav"></div>
	<div class="logoDots"></div>

	<%= render :partial => 'playerWrapper' %>

	<div class="navTextWrapper">
    	<h2  class="navSelected"><%= link_to "the work", work_path %></h2>
    	<h2><%= link_to "the team", team_path %></h2>
    	<h2><%= link_to "contact", contact_path %></h2>
    	<h2><%= link_to "client", client_path %></h2>
  </div>
  	
</div> <!--! End workWrapper -->



