<!--! <div class="center hero-unit">
  <div class="row">
    <h1>Welcome to <%= PAGE_NAME %></h1>
    <% if signed_in? %>
      <h2>You are signed in as </h2>
      <%= render 'shared/user_info' %> 
      <p></p>
      <div><%= link_to "Not #{current_user.name}?", signout_path, method: "delete"%></div>
    <% else %>
      <table class="table table-striped">
        <thead>
          <td></td>
          <td><h1>Choose a User to Sign In As ...</h1></td>
          <td></td>
        </thead>
        <tbody>  
          <% @users.each do |u| %>
            <tr>
              <td><%= u.password %></td>
              <td><%= u.name %></td>
              <td>
                <%= link_to "Sign In As", sessions_path(email: u.email, page: 'development'), :class => 'btn btn-large btn-info', method: :post %>
              </td>
            </tr>
          <% end %>
          </tr>
          <tr>
            <td></td>
            <td>New User</td>
            <td><%= link_to "Sign Up", signup_path, class: "btn btn-large btn-success" %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
-->