<div class="navWrapper">
  <div class="roundedNav"></div>
  <div class="kids"></div>
  <div class="navBackground"></div>
  <div class="navTextWrapper">
    <h2><%= link_to "the work", work_path %></h2>
    <h2><%= link_to "the team", team_path %></h2>
    <h2><%= link_to "contact", contact_path %></h2>
    <h2><%= link_to "client", client_path %></h2>
  </div>
  <!--! <div class="greenSlider"></div> -->
</div>

  <div class="headerWrapper">
    <ul class="">
      <li><%= link_to "home", home_path %></li> 
      <li><%= link_to "the work", work_path %></li>
      <li><%= link_to "the team", team_path %></li>
      <li><%= link_to "contact", contact_path %></li>
      <li><%= link_to "client", client_path %></li>
    </ul>
  </div>
