
<div class="navWrapper">
  <div class="roundedNav"></div>
  <div class="kids"></div>
  <!--! <div class="navBackgroundFull"></div>-->
  <div class="navBackground"></div> 

  <div class="navLeftBackground"></div>
  <div class="navTextWrapper">
    <h2><%= link_to "the work", work_path %></h2>
    <h2><%= link_to "the team", team_path %></h2>
    <h2><%= link_to "contact", contact_path %></h2>
    <h2><%= link_to "client", client_path %></h2>
  </div>
</div>

<div class="hoverWrapper">
  <div class="weatherHover hoverSlide rotate45"><%= link_to "", work_path %></div>
  <div class="contactHover  hoverSlide rotate45"><%= link_to "", contact_path %></div>
  <div class="teamHover hoverSlide rotate45"><%= link_to "", team_path %></div>
  <div class="clientHover hoverSlide rotate45"><%= link_to "", client_path %></div>
  <div class="filmHover hoverSlide rotate45"><%= link_to "", work_path(q: "film") %></div>
  <div class="televisionHover hoverSlide rotate45"><%= link_to "", work_path(q: "television") %></div>
  <div class="digitalHover hoverSlide rotate45"><%= link_to "", work_path( q: "digital") %></div>
  <div class="yardsaleHover hoverSlide rotate45"><%= link_to "", work_path %></div>
</div>

<div class="fillBlocks">
  <div class="fillBlock fillYardsale">
    <%= image_tag "yardsaleBlock.png" %>
  </div>
  <div class="fillBlock fillDigital">
    <%= image_tag "digitalBlock2.png" %>
  </div>
  <div class="fillBlock fillTelevision">
    <%= image_tag "televisionBlock.png" %>
  </div>
  <div class="fillBlock fillClient">
    <%= image_tag "clientBlock2.png" %>
  </div>
  <div class="fillBlock fillTeam">
    <%= image_tag "teamBlock.png" %>
  </div>
  <div class="fillBlock fillWeather">
    <%= image_tag "weatherBlock.png" %>
  </div>
</div>

<div class="shadows">
  <div class="shadowSlider digitalShadow">
    <%= image_tag "blockShadow.png" %>
  </div>

</div>

<div class="hoverImages">
  <div class="teamBlock slideBlock">
    <a href="#"><%= image_tag "teamBlock.png" %></a>
  </div>
  <div class="televisionBlock slideBlock">
    <a href="#"><%= image_tag "televisionBlock.png" %></a>
  </div>
  <div class="yardsaleBlock slideBlock">
    <a href="#"><%= image_tag "yardsaleBlock.png" %></a>
  </div>
  <div class="weatherBlock slideBlock">
    <a href="#"><%= image_tag "weatherBlock.png" %></a>
  </div>
  <div class="contactBlock slideBlock">
    <a href="#"><%= image_tag "contactBlock.png" %></a>
  </div>
  <div class="clientBlock slideBlock">
    <a href="#"><%= image_tag "clientBlock2.png" %></a>
  </div>
  <div class="clientBlocker"><%= image_tag "greenBlocker.png" %></div>
  <div class="filmBlock slideBlock">
    <a href="#"><%= image_tag "filmBlock.png" %></a>
  </div>
  <div class="filmBlocker"><%= image_tag "greenBlocker.png" %></div>
  <div class="digitalBlock slideBlock">
    <a href="#"><%= image_tag "digitalBlock2.png" %></a>
  </div>
  <div class="digitalBlocker"><%= image_tag "greenBlocker.png" %></div> 
  <div class="endPanel"></div>
</div>

<div class="blockShadow contactShadow"></div>

<div class="slidersWrapper">
  <div class="weatherSlider"></div>
  <div class="contactSlider"></div>
  <div class="teamSlider"></div>
  <div class="clientSlider"></div>
  <div class="filmSlider"></div>
  <div class="televisionSlider"></div>
  <div class="digitalSlider"></div>
  <div class="yardsaleSlider"></div>
</div>

<div class="headerWrapper">
  <ul class="">
    <li><%= link_to "home", home_path %></li> 
    <li><%= link_to "the work", work_path %></li>
    <li><%= link_to "the team", team_path %></li>
    <li><%= link_to "contact", contact_path %></li>
    <li><%= link_to "client", client_path %></li>
  </ul>
</div>
