
<div class="navWrapper">
  <div class="roundedNav"></div>
  <div class="kids"></div>
  <div class="navBackground"></div>
  <div class="navTextWrapper">
    <h2><%= link_to "the work", work_path %></h2>
    <h2><%= link_to "the team", team_path %></h2>
    <h2><%= link_to "contact", contact_path %></h2>
    <h2><%= link_to "client", client_path %></h2>
  </div>
</div>

<div class="hoverWrapper">
  <div class="weatherHover hoverHide rotate45"></div>
  <div class="contactHover  hoverHide rotate45"></div>
  <div class="teamHover hoverHide rotate45"></div>
  <div class="clientHover hoverHide rotate45"></div>
  <div class="filmHover hoverHide rotate45"></div>
  <div class="televisionHover hoverHide rotate45"></div>
  <div class="digitalHover hoverHide rotate45"></div>
  <div class="yardsaleHover hoverHide rotate45"></div>
</div>

<div class="hoverImages">
  <div class="teamBlock">
    <a href="#"><%= image_tag "teamBlock.png" %></a>
  </div>
</div>

<div class="slidersWrapper">
  <div class="weatherSlider"></div>
  <div class="contactSlider"></div>
  <div class="teamSlider"></div>
  <div class="clientSlider"></div>
  <div class="filmSlider"></div>
  <div class="televisionSlider"></div>
  <div class="digitalSlider"></div>
  <div class="yardsaleSlider"></div>
</div>

<div class="headerWrapper">
  <ul class="">
    <li><%= link_to "home", home_path %></li> 
    <li><%= link_to "the work", work_path %></li>
    <li><%= link_to "the team", team_path %></li>
    <li><%= link_to "contact", contact_path %></li>
    <li><%= link_to "client", client_path %></li>
  </ul>
</div>
