


<div class="workWrapper">
	<div class="roundedNav"></div>
	<div class="paperSort videoSelector"></div>
	<div class="logoDots"></div>

	<div class="playerWrapper">
		<div class="videoNav">
			<h3 class='nextButton'><a href="#" class="nextClick">Next-></a></h3>
<!--
      <h3><a href="#" class="backClick"><-Back</a></h2>
-->
			<h3><%= link_to "<-Back", work_path, :class => "backClick" %></h3>  
		</div>

		<div class="videoInfo">
  			<h3 class="title">
  				<span class="whiteBackground">Project:</span>
  			</h3>
  			<h3 class="titleText">
  				<span class="whiteBackground">The Other Shore</span>
  			</h3>
  			<h3 class="networkBrand">
  				<span class="tanBackground">Network/Brand:</span>
  			</h3>
  			<h3 class="networkBrandText">
  				<span class="tanBackground">Discovery Channel</span>
  			</h3>
  			<h3 class="type">
  				<span class="tanBackground">Type:</span>
  			</h3>
  			<h3 class="typeText">
  				<span class="tanBackground">Documentary</span>
  			</h3>
  			<h3 class="director">
  				<span class="tanBackground">Director:</span>
  			</h3>
  			<h3 class="directorText">
  				<span class="tanBackground">Timothy Wheeler</span>
  			</h3>
  	</div>
  	
    <div class="videoContainer">
      <video
        src="http://s3.amazonaws.com/wibble-assets/videos/ocean_medium.mp4"
        height="396"
        id="container"
        preload="auto"
        width="561"
        controls="controls">
      </video>
    </div>
  </div>

	<h3 class="tabTitle playerHide">
		Film
	</h3>

	<div class="playerLongInfo playerHide">
		
		<h3 class="descriptionText">
			THE OTHER SHORE is a feature documentary film following world-record breaking marathon swimmer Diana Nyad as she risks her life to realize her life-long dream and swim 103 miles from Cuba to Florida. Diana Nyad is 62-years-old.
		<h3>
	</div>

	<div class="navTextWrapper">
    	<h2><%= link_to "the work", work_path %></h2>
    	<h2><%= link_to "the team", team_path %></h2>
    	<h2><%= link_to "contact", contact_path %></h2>
    	<h2><%= link_to "client", client_path %></h2>
  	</div>
  	
</div> <!--! End workWrapper -->


<script type="text/javascript">
  jwplayer("container").setup({
    flashplayer: "/jwplayer/player.swf",
    'skin' :  '/skins/plexi/plexi.xml'
  });

</script>












