


<div class="workWrapper">
	<div class="roundedNav"></div>
	<div class="paperSort videoSelector"></div>
	<div class="logoDots"></div>
	<div class="checkBoxWrapper videoSelector">
		<div id="filters">
			<h2><a href="#" data-filter=".film">Film</a></h2>
			<h2><a href="#" data-filter=".television">Television</a></h2>
			<h2><a href="#" data-filter=".digital">Digital</a></h2>
			<h2><a href="#" data-filter="*">all</a></h2>
		</div>
	</div>

	<div class="videoBorder videoSelector"></div>

	<div class="containerVideos">
	   <% i = 0 %>
     <%  @videos.each do |video| %>
      <div class="posterframeCell square<%= i %>">
        <div class="item square<%= i %>"><%= link_to (image_tag ("dudes.jpg"  )) , video_path(video.permalink) %>  </div>
        <div class="clearBox square<%= i %> <%= video.type_of %>"></div>
      </div>
      <% i += 1 %>
    <% end %>
  </div>


	<div class="navTextWrapper">
    	<h2><%= link_to "the work", work_path %></h2>
    	<h2><%= link_to "the team", team_path %></h2>
    	<h2><%= link_to "contact", contact_path %></h2>
    	<h2><%= link_to "client", client_path %></h2>
  	</div>
  	
</div> <!--! End workWrapper -->















