


<div class="workWrapper">
	<div class="roundedNav"></div>
	<div class="paperSort videoSelector"></div>
	<div class="logoDots"></div>
	<div class="checkBoxWrapper videoSelector">
		<div id="filters">
			<h2><a href="#" data-filter=".film">Film</a></h2>
			<h2><a href="#" data-filter=".television">Television</a></h2>
			<h2><a href="#" data-filter=".digital">Digital</a></h2>
			<h2><a href="#" data-filter="*">all</a></h2>
		</div>
	</div>

	<div class="videoBorder videoSelector"></div>
	
	<div class="videoCanvas videoSelector">
		<div id="container">
        <div class="item square1"><%= link_to (image_tag ("dudes.jpg"  )) , video_player_path %>  </div>
        <div class="item square2"><%= link_to (image_tag ("dudes.jpg"  )) , video_player_path %>  </div>
  			<div class="item square3"><%= link_to (image_tag ("dudes.jpg"  )) , video_player_path %>  </div>
  			<div class="item square4"><%= link_to (image_tag ("swimmer.jpg")) , video_player_path %></div>
 			  <div class="item square5"><%= link_to (image_tag ("swimmer.jpg")) , video_player_path %></div>
  			<div class="item square6"><%= link_to (image_tag ("jacket.jpg" )) , video_player_path %> </div>
  			<div class="item square7"><%= link_to (image_tag ("jacket.jpg" )) , video_player_path %> </div>
 			  <div class="item square8"><%= link_to (image_tag ("jacket.jpg" )) , video_player_path %> </div>
		</div>
	</div>

	<div class="navTextWrapper">
    	<h2><%= link_to "the work", work_path %></h2>
    	<h2><%= link_to "the team", team_path %></h2>
    	<h2><%= link_to "contact", contact_path %></h2>
    	<h2><%= link_to "client", client_path %></h2>
  	</div>
  	
</div> <!--! End workWrapper -->















