<div class="workWrapper">
	<div class="roundedNav"></div>
	<div class="logoDots"></div>

 <%= render :partial => 'videoSelector' %>

	<div class="navTextWrapper">
    	<h2  class="navSelected"><%= link_to "the work", work_path %></h2>
    	<h2><%= link_to "the team", team_path %></h2>
    	<h2><%= link_to "contact", contact_path %></h2>
    	<h2><%= link_to "client", client_path %></h2>
  </div>
  	
</div> <!--! --End workWrapper - -->



<script>
  $(function() {
    var selector = "<%= @filter %>";    
    $(selector + "Check").show(300);
    if (selector == ".all") {
      $('.allCheck').show(300);
    } else {
      $('.carousel').carousel('pause');
		  $('.clearBox').css('z-index' , '200');		
		  $(selector).css('z-index', '100');
	  }
    
    // if film television of digital is clicke
    // insert q: @filter into href's backButton & forwardButton   
  });


</script>















