<div class="workWrapper">
	<div class="roundedNav"></div>
	<div class="paperSort videoSelector"></div>
	<div class="logoDots"></div>
	<div class="checkBoxWrapper videoSelector">
		<div id="filters">
			<h2 class="filmFilter"><a href="#" data-filter=".film">Film</a>
				<div class="filmBox checkBox"></div>
				<div class="filmCheck checkMark"></div>
			</h2>
			<h2 class="televisionFilter"><a href="#" data-filter=".television">Television</a>
				<div class="televisionBox checkBox"></div>
				<div class="televisionCheck checkMark"></div>
			</h2>
			
			<h2 class="digitalFilter"><a href="#" data-filter=".digital">Digital</a>
				<div class="digitalBox checkBox"></div>
				<div class="digitalCheck checkMark"></div>
			</h2>
			
			<!--! <h2><a href="#" data-filter="*">all</a></h2> -->
		</div>
	</div>

	<div class="videoBorder videoSelector"></div>
  	<div class="paginateVideos">
  		<h3>
  			<!-- Carousel nav -->
        <a class="backButton left" href="#myCarousel" data-slide="prev"><===</a>
        &nbsp;&nbsp; Page &nbsp;&nbsp;
        <a class="backButton right" href="#myCarousel" data-slide="next">===></a>
  		</h3>
  	</div>
  <div class="containerVideos">
    <div id="myCarousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
      <div class="active item">
           <%  @videos.each do |video| %>
            <div class="posterframeCell">
              <div class="itemCell"><%= link_to (image_tag (video.posterframe  )) , video_path(video.permalink) %></div>
              <div class="clearBox <%= video.type_of %>"></div>
            </div>
          <% end %>
      </div>
      <div class="item">
           <%  @videos_left.each do |video| %>
            <div class="posterframeCell">
              <div class="itemCell"><%= link_to (image_tag (video.posterframe  )) , video_path(video.permalink) %></div>
              <div class="clearBox <%= video.type_of %>"></div>
            </div>
          <% end %>
      </div>
      <div class="item">
           <%  @videos_right.each do |video| %>
            <div class="posterframeCell">
              <div class="itemCell"><%= link_to (image_tag (video.posterframe  )) , video_path(video.permalink) %></div>
              <div class="clearBox <%= video.type_of %>"></div>
            </div>
          <% end %>
      </div>
      </div>
    </div>
  </div>



	<div class="navTextWrapper">
    	<h2 class="navSelected"><%= link_to "the work", work_path %></h2>
    	<h2><%= link_to "the team", team_path %></h2>
    	<h2><%= link_to "contact", contact_path %></h2>
    	<h2><%= link_to "client", client_path %></h2>
  	</div>
  	
</div> <!--! End workWrapper -->

<% if @filter %>
<script>
  $(function() {
    var selector = ".<%= @filter %>";

    $('.carousel').carousel('pause');
		$('.clearBox').css('z-index' , '200');		
		$(selector).css('z-index', '100');
		// if film television of digital is clicke
		// insert q: @filter into href's backButton & forwardButton
		
  });

</script>
<% end %>













