<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? 'success' : 'error' %>">
    <a class="close" data-dismiss="alert" href="#">×</a>
    <%= msg %>
  </div>
<% end %>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse">
        <% if signed_in? %>
        <ul class="nav">
          <li><%= link_to "home", home_path %></li> 
          <li><%= link_to "the work", work_path %></li>
          <li><%= link_to "the team", team_path %></li>
          <li><%= link_to "contact", contact_path %></li>
          <li><%= link_to "client", client_path %></li>
        </ul>
        <% end %>
        <ul class="nav pull-right">
          <% if signed_in? %>
            <li><%= link_to "Users", users_path %></li>
            <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Profile", current_user %></li>
                    <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                    <li class="divider"></li>
                    <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
                  </ul>
            </li>
          <% else %>
            <li><%= link_to "Log Off", root_path %></li>
          <% end %>
        </ul> 
      </div>
    </div>
  </div>
</div>
