<!DOCTYPE html>
<html>
<head>
  <title><%= PAGE_NAME %></title>
  <%= render 'layouts/shim' %>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "mobile" if mobile_device? %>

  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</head>
<body>

  <div class="containerBackground"></div>
  <div class="containerMain">
    <div class="logoWrapper">
      <div class="logo"><a href=""></a></div>
    </div>
    <div class="leftCornerWrapper">
      <div class="leftCorner"></div>
      
      <div class="diagramWrapper">
        <div class="diagram"></div>
      </div>
    </div>
    <div class="texture"></div>
    <%= yield %>
    <div class="logoHomeLink"><%= link_to "", home_path %></div>
  </div>
    <!--! <p>
      <% if mobile_device? %>
        <%= link_to "Full Site", :mobile => 0 %>
      <% else %>
        <%= link_to "Mobile Site", :mobile => 1 %>
      <% end %>
    </p> -->

</body>
</html>
