<!DOCTYPE html>
<html>
<head>
  <title><%= PAGE_NAME %></title>
  <%= render 'layouts/shim' %>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="icon" type="image/gif" href="animated_favicon1.gif">  
  <%= stylesheet_link_tag    "application" %>
  <%#= stylesheet_link_tag    "mobile" if mobile_device? %>

  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div class="containerBackground"></div>
  <div class="containerMain">
    <div class="logoWrapper">
      <div class="logo"><a href=""></a></div>
    </div>
    <div class="leftCornerWrapper">
      <div class="leftCorner"></div>
      
      <div class="diagramWrapper">
        <div class="diagram"></div>
      </div>
    </div>
    <div class="texture"></div>
    <%= yield %>
    <div class="logoHomeLink"><%= link_to "", home_path %></div>
  </div>


</body>
</html>
