<!DOCTYPE html>
<html>
<head>
  <title><%= PAGE_NAME %></title>
  <%= render 'layouts/shim' %>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "mobile" if mobile_device? %>

  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div class="containerBackground"></div>


    <div class="containerMain">
    <% if params[:controller] == 'admins' %>
      <%= render 'layouts/intro' %>
      <% else %>  
      <%= render 'layouts/header' %>
    <% end %>
    <%= yield %>
    </div>


    <!--! <p>
      <% if mobile_device? %>
        <%= link_to "Full Site", :mobile => 0 %>
      <% else %>
        <%= link_to "Mobile Site", :mobile => 1 %>
      <% end %>
    </p> -->

    <% if params[:controller] != 'admins' %>
      <%#= render 'layouts/footer' %>
    <% end %>

</body>
</html>
